@charset "utf-8";
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.red{
  width: 400px;
  height: 100px;
  background: #f00;
}
.green{
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;
}
.purple{
  width: 150px;
  height: 50px;
  background: #cc00db;
}
.orange{
  width: 100px;
  height: 150px;
  background: #ff9b6e;
  float: left;
}
.blue{
  width: 150px;
  height: 100px;
  background: #0093b7;
}
.purple-blue{
  float: left;
}
.brawn{
  width: 250px;
  height: 100px;
  background: #8c2727;
  float: left;
}
.yellow{
  width: 400px;
  height: 100px;
  background: #fff700;
  float: left;
}